<script lang="ts">
import { ref } from 'vue'
import axios from 'axios';
import type MessageResponse from '../../../typescript-server-template/src/controllers/helloWorld';

export default {
    async setup() {
        const count = ref(0)
        var content = (await axios.get<MessageResponse>("http://localhost:8001/")).data.message;

        return {
            count,
            content
        }
    }
}
</script>
<template>
    <div>
        <h1>Counter: {{ count }}</h1>
        <button @click="count++">+1</button>
        <h2>{{content}}</h2>
    </div>
</template>

<style scoped>
</style>
