<script setup lang="ts">
import Counter from "./components/Counter.vue";
</script>

<template>
  <main>
    <Suspense>
      <Counter />
      
      <template #fallback>
        Loading...
      </template>
    </Suspense>
  </main>
</template>

<style>
@import "./assets/base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
</style>
